:root {
    --destaque: #a855f7;
    --brilho: rgba(168, 85, 247, 0.4);
    --fundo-principal: #080612;
    --fundo-secundario: #ffffff;
    --fundo-header: rgba(8, 6, 18, 0.95);
    --borda: rgba(168, 85, 247, 0.3);
    --texto-principal: #e2d9f3;
    --texto-secundario: #a78bda;
    --texto-header: #c4b5fd;
    --card: #080612;
}
main{
    background-image: url(../images/light-dark/galaxy.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 1000px;
}

