*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: 'Orbitron', sans-serif;
}
ul,ol{
    list-style: none;
}
p{
    font-family: "Space Mono", monospace;
}